<div class="pickable__hitbox" {{action 'onPicked'}}>
  <div class="pickable__image"></div>
  <div class="pickable__right">
    {{#vertical-centered-text}}
      <div class="pickable__name">{{item.name}}</div>
    {{/vertical-centered-text}}
  </div>
</div>