<div class="index__container">
  <p class="index__title">Welcome to EFitness!</p>

  <div class="index__buttonlist">
    {{#round-button onPress=(action 'whatsUp')}}What's Happening?{{/round-button}}
    {{#round-button onPress=(action 'pastClasses')}}My Past Classes{{/round-button}}
  </div>

  <div class="index__filler"></div>

  {{event-cycler classes=model.classes}}
</div>