{{!<div class="modal-new-class__row">}}
  {{#vertical-centered-text class="modal-new-class__input"}}
    {{yield}}
  {{/vertical-centered-text}}
  {{#vertical-centered-text class="modal-new-class__text"}}
    <div>{{label}}</div>
  {{/vertical-centered-text}}
{{!</div>}}